@model KhachSan.Models.DB.tbl_room

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h3>Phòng</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_number)
        </dd>

        <dt>
            Mô Tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_description)
        </dd>

        <dt>
            Hoạt Động
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_Active)
        </dd>

        <dt>
            Trạng Thái Phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_booking_status.booking_status)
        </dd>

        <dt>
            Loại Phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_room_type.room_name)
        </dd>

        <dt>
            Hình
        </dt>
        <dd>
            <img width="500" height="312" src="~/Content/ViewContent/img/rooms/@Model.room_image" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> 
            @Html.ActionLink("Trở Lại", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
