@model KhachSan.Models.DB.tbl_room

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h3>Phòng</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_number)
        </dd>

        <dt>
            Hoạt Động
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_Active)
        </dd>

        <dt>
            Mô Tả
        </dt>
            @Html.DisplayFor(model => model.room_description)
        <dd>

        </dd>
        <dt>
            Trạng Thái Phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_booking_status.booking_status)
        </dd>

        <dt>
            Loại Phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_room_type.room_name)
        </dd>

        <dt>
            Hình
        </dt>

        <dd>
            <img width="500" height="312" src="~/Content/ViewContent/img/rooms/@Model.room_image" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.room_id }, new { @class = "btn btn-warning" }) 
    @Html.ActionLink("Trở Lại", "Index", null, new { @class = "btn btn-info" })
</p>
