@model IEnumerable<KhachSan.Models.DB.tbl_room>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    <div style="padding-top:3px">

        @Html.ActionLink("Tạo Mới", "Create", null, new { @class = "btn btn-outline-secondary" })
    </div>
</p>
<table class="table">
    <tr>
        <th>
            Tên Phòng
        </th>
        <th>
            Hoạt Động
        </th>
        <th>
            Trạng Thái Phòng
        </th>
        <th>
            Loại Phòng
        </th>
        <th>
            Hình
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.room_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_booking_status.booking_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_room_type.room_name)
        </td>
        <td>
            <img width="140" height="87" src="@Url.Content("~/Content/ViewContent/img/rooms/" + item.room_image)" />
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.room_id }, new { @class = "btn btn-outline-success" })
            @Html.ActionLink("Chi Tiết", "Details", new { id = item.room_id }, new { @class = "btn btn-outline-warning" })
            @Html.ActionLink("Xóa", "Delete", new { id = item.room_id }, new { @class = "btn btn-outline-danger" })
        </td>
    </tr>
}

</table>
