@model KhachSan.Models.DB.tbl_payment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h3>Thanh Toán</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Hóa Đơn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.booking_id)
        </dd>

        <dt>
            Tiền Thanh Toán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_amount)
        </dd>

        <dt>
            Hoạt Động
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Active)
        </dd>

        <dt>
            Hình Thức Thanh Toán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_payment_type.payment_type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> 
            @Html.ActionLink("Trở Lại", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
