@model KhachSan.Models.DB.tbl_room_type

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h3>Loại Phòng</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Loại Phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_name)
        </dd>

        <dt>
            Mô Tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @string.Format("{0:#,##0}", Model.room_price).Replace(',', '.') VNĐ
        </dd>

        <dt>
            Số Giường
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_capacity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa"  class="btn btn-danger" /> 
            @Html.ActionLink("Trở Lại", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
