@model IEnumerable<KhachSan.Models.DB.tbl_room_type>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    <div style="padding-top:3px">

        @Html.ActionLink("Tạo Mới", "Create", null, new { @class = "btn btn-outline-secondary" })
    </div>
</p>
<table class="table">
    <tr>
        <th>
            Loại Phòng
        </th>
        <th>
            Mô Tả
        </th>
        <th>
            Giá
        </th>
        <th>
            Số Giường
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.room_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @string.Format("{0:#,##0}", item.room_price).Replace(',', '.') VNĐ
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room_capacity)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.room_type_id }, new { @class = "btn btn-outline-success" }) 
            @Html.ActionLink("Chi Tiết", "Details", new { id=item.room_type_id }, new { @class = "btn btn-outline-warning" }) 
            @Html.ActionLink("Xóa", "Delete", new { id=item.room_type_id }, new { @class = "btn btn-outline-danger" })
        </td>
    </tr>
}

</table>
